<div id="posts_wrapper">
  <div class="posts">
    <h1>contact us!</h1>

    <p>
      If you sit cross-legged on a mountain and meditate on your question, perhaps the answer will come to you, as though in a dream.
    </p>
 </div><!-- posts -->
</div><!-- posts_wrapper -->
