<div id="posts_wrapper">
  <div class="posts">
    <h1>FAQ</h1>

    <h2>Why Karma?</h2>
    <p>Karma is real whether you like it or not.  Might as well start improving yours now.</p>

   </div><!-- posts -->
</div><!-- posts_wrapper -->
