
  <div id="faq" class="column small-4 large-7">
    <h1>FAQ</h1>

    <h2>Why Karma?</h2>
    <p>Karma is real whether you like it or not.  Might as well start improving yours now.</p>

   </div><!-- faq -->
