<h1>2000K</h1>

<% if logged_in? %>

  <p>Hi, <%= current_user.user_name %>!</p><br>
  <%= link_to "Logout", logout_path %>

  <% if current_user.is_admin %>
    <strong>Admin things</strong>:
  <% end %>

<% else %>

<%= link_to "Sign Up!", new_user_path %>
<%= link_to "Login", login_path %>

<ol id="Karma_app_steps">
  <li class="steps">Open a Karma Account</li>
  <li class="steps">Help someone out and ear some karma</li>
  <li class="steps">Feel good about yourself being an awesome person</li>
  <li class="steps">Spend some Karma and get help from someone else</li>
  <li class="steps">Repeat Steps 2 - 5 and be a happy person!</li>
</ol>

<% end %>
