<div id="posts_wrapper">
  <div class="posts">
    <h1>legal</h1>

    <p>
      Welcome to Karma App! By accessing or using the Karma App Website and Services, you agree to read and abide by the Terms of Service below (the “Agreement”).
    <p>
      This Agreement is between You and Karma App, LLC (“We,” “Us,” or the “Company”), and it governs your access to and use of the services, websites, and applications offered by the Company (the “Services”). Your access to and use of the Services are conditioned on your acceptance of and compliance with the Terms of this Agreement (“Terms”). If you do not or cannot agree to the Terms, please stop using the Services immediately. If you do not understand the Terms, please stop using the Services and contact team@Karma App.com.
    </p>

    <h2>1. To use services, you must promise that:</h2>
    <ol>
      <li>You can legally agree to this Agreement.</li>
      <li>You are older than thirteen (13) years old.</li>
      <li>You will abide by the Terms.</li>
      <li>You have a valid email address.</li>
      <li>You will not break any laws by using the Services.</li>
      <li>You will not use the Services for any purpose considered inappropriate by the Company.</li>
      <li>You will not delete, damage, scrape, or in anyway maliciously harm the Company’s intellectual property, Services, or website.</li>
      <li>You will not use, copy, or scrape the Company’s brand, marks, features, or intellectual property without the Company’s written permission.</li>
      <li>You will not access without permission or hack other user accounts.</li>
      <li>You will not SPAM, make fake accounts, or use any automated means to create accounts.</li>
      <li>You will not hack, delete, harm, or alter the Company’s code, website, or Services.</li>
    </ol>

    <h2>2. To use services, you must agree that:</h2>
    <ol>
      <li>You are responsible for everything you do, submit, and post using the Services.</li>
      <li>None of the information or Content you provide to the Company is confidential or private.</li>
      <li>You are solely responsible for keeping your password and login credentials safe.</li>
      <li>Your username may be forfeited or transferred away for any or no reason by the Company.</li>
      <li>You grant the Company an irrevocable, perpetual, worldwide, non-exclusive, royalty-free license to use and edit any and all information, content, and property you provide to the Company through the Services (“Content”). This includes, but is not limited to, use of the Content in marketing materials or the placement of advertisements around Content.</li>
      <li>You will not use the Services for any illegal purpose or submit or provide Content that violates any third-party rights.</li>
      <li>You understand that Content may be lost or deleted and may become irretrievable at any time.</li>
      <li>We may view, edit, or delete your account or Content for any reason or no reason at all.</li>
      <li>We have no obligation to delete your account or Content.</li>
      <li>You understand that any Content that you submit to Karma App may be available via the service even after you attempt to delete it.</li>
      <li>We may change, suspend, or stop the Services at any time without notice to You.</li>
      <li>We do not owe you any fees for any information, ideas, or feedback that you submit to Us.</li>
      <li>You will indemnify and hold the Company, its affiliates, employees, officers, and directors harmless for any claims, costs, or damages caused by you either directly or indirectly from your use of the Services.</li>
      <li>You will indemnify and hold the Company, its affiliates, employees, officers, and directors harmless for any claims, costs, or damages related to your use of the Services to transact, conduct, or complete any business with any third-parties.</li>
      <li>You waive your right to sue the Company, its affiliates, employees, officers, and directors, but if you cannot legally waive that right, you agree that you will be limited to fifty dollars in damages.</li>
      <li>You have three hundred sixty five (365) days to bring any claim against the Company, its affiliates, employees, officers, and directors from the time you first could have brought the claim.</li>
      <li>You will resolve any disputes arising out of your use of the Services directly with the Company or by binding arbitration in New York, NY, USA under New York State law.</li>
    </ol>

    <p>
      <strong>Effective Date:</strong> These Terms of Service are effective May 2, 2014.
    </p>


  </div><!-- posts -->
</div><!-- posts_wrapper -->




