<div class="posts small-4 large-7 columns">

  <h1 id="posts_header">Here's What's Happening In Our Community</h1>
  <button id="show_requests">Looking for Services</button>
  <button id="show_offers">Services Offered</button>
  <div id="offers">
    <h1>Offers</h1>

    <% @offers.each do |post| %>
      <div class="post">
        <%= link_to post.title, post_path(post) %>
        (<%= post.karma_value %> Karma Points)
      </div>
    <% end %>

  </div>

  <div id="requests">
    <h1>Requests</h1>

    <% @requests.each do |post| %>
      <div class="post">
        <%= link_to post.title, post_path(post) %>
        (<%= post.karma_value %> Karma Points)
      </div>
    <% end %>

  </div>
</div><!-- posts -->
