/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html *
{
   font-family: Arial !important;
}

a:link{
  text-decoration:none;
}

a:visited{
  color: #a69382;
}

a:hover{
  color: #b3b3ad;
}

body{
  background-color: #2b4a52;
  opacity: 0.8;
}

.background #sidebar_wrapper .sidebar ul li a{
  font-size: 16px;
}

.logo img{
  height: 100px;
  width: 100px;
  display: inline;
}

.top-content{
  position: relative;
  height: 50px;
}

.top-content .banner_list_item {
  float: right;
}

#banner .banner_element{
  list-style-type: none;
  display:inline;
}

#karma_app_steps{
  text-align: left;
  left: 200px;
}

.background {
  background-color: white;
  opacity: 0.3;
  height: 1000px;
  width: 100%;
  position: absolute;
  right: 30px;
  top: 60px;
  border-radius: 25px;
  z-index: -1;
}

button{
  background: white;
  font-size: 16px;
  margin: 0px;
  cursor: pointer;
  border: 1px solid #d1cac9;
}

button:hover{
  background: #d1cac9 ;
}

input{
  background: white;
  border: 1px solid #d1cac9;
  margin: 0px;
  cursor: pointer;
}

.user_pic img{
  width: 150px;
  height: 150px;
}

#title{
  position: absolute;
  top: -30px;
  width: 10px;
}

.points_transfer {
  position: relative;
  top: 100px;
  left: 320px;
  background-color: #d1cac9;
  width: 600px;
  border: 20px solid #d1cac9;
  text-align: center;
}







