// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_wrapper{
  position: relative;
}

.posts{
  background-color: white;
  width: 30%;
  position: absolute;
  right: 300px;
}

.posts tr{
  font-size: 20px;
  text-align: center;
}

#add_posting_wrapper{
  position: relative;
}

.add_posting{
  position: absolute;
  right: 300px;
  top: 100px;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

#post_listing_wrapper{
  position: relative;
}

.post_listing{
  position: absolute;
  right: 500px;
  top: 50px;
}

#response_wrapper{
  position: relative;
}

.response{
  position: absolute;
  top: 325px;
  left: 470px;
}


