#members_wrapper{
  position: relative;
  width: 420px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
}

.members{
  background-color: white;
  position: absolute;
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  width: 80%;
}

.members ul{
  list-style-type: none;
}

.user{
  color: black;
}

.sign_up_wrapper{
  position: relative;
}

.sign_up_wrapper h1 {
  text-align: center;
  margin-top: 50px;
}


.sign_up{
  position: absolute;
  top: 70px;
  right: 450px;
  border-radius: 10px;
  background-color: white;
  padding: 5px;

}

.sign_up input{
  height: 20px;
  width: 200px;
  border-radius: 5px;
}

.sign_up input[type="submit"] {
  width: 75px;
  background: gray;
}

#profile_wrapper{
  position: relative;
}

.profile{
  position: absolute;
  top: 40px;
  left: 400px;
}





