// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard_wrapper{
  position: fixed;
  left: 500px;
}

#shashboard_wrapper button{
  border: 0px;
}

#banner_wrapper{
  position: relative;
}

#banner{
  position: absolute;
  right: 40px;
  top: -105px;
}

.banner_element a{
  color: white;
}

.banner_element a:hover{
  background-color: pink;
}


#karma_app_wrapper{
  position: relative;
}

#karma_app_steps{
  width: 600px;
  position: absolute;
  right: 100px;
  border-radius: 15px;
  text-align: center;
}

#karma_app_steps .steps{
  font-size: 25px;
  font-family: Arial, sans-serif;
  line-height: 50px;
  list-style: none outside none;
}

#sidebar_wrapper{
  position: relative;
  background-color: white;
  float: left;
  width: 30px;
  top: 50px;
  left: 100px;
}

#title{
  font-family: georgia;
  font-size: 40px;
}


.sidebar{
  position: absolute;
  right: -50px;
}

.sidebar li {
  background-color: #86a8b5;
  font-size: 40px;
  padding: 5px;
  width: 100px;
  display: block;
  padding: 10px;
  position: relative;
  z-index: 9999;
}


.banner_list_item:hover {
  background-color: white;
}

.sidebar li a {
  color: black;
  font-size: 25px;
  text-align: left;
  position: relative;
  z-index: 9999;
}

/*a{
  color: white;
}*/

#karma_app_wrapper{
  width: 100%;
  margin: 0 auto;
}

#get_started{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  left: 10px;
}

