// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#karma_app_wrapper{
  position: relative;
}

#karma_app_steps{
  background-color: white;
  width: 60%;
  position: absolute;
  right: 100px;
}

#karma_app_steps .steps{
  font-size: 30px;
  font-family: georgia;
  line-height: 50px;
}

#sidebar_wrapper{
  display: block;
  float: left;
  top: 100px;
  width: 130px;
  background-color: blue;
  color: white;
  position: relative;
}

.sidebar{
    background-color: white;
    height: 100%;
}

#title{
  font-family: georgia;
  font-size: 40px;
}

.sidebar li {
  font-size: 30px;
  list-style-type: none;
  padding: 5px;
  width: 100px;
}

.sidebar li a {
  color: white;
  font-size: 12px;
  text-align: right;
}
